body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}


/* FormUrls Styles */

.md {
    width: 40%;
    margin-left: auto;
    margin-right: 5%;
}

h5.form-url+input {
    width: 100%;
}


/* Welcome Styles */

.welcome {
    margin: 70px 0 0 0;
    padding: 50px auto;
    text-align: center;
}

.welcome p {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


/* CardBookmark Styles */

.card {
    width: 16rem;
    padding: 30px 10px;
    margin: 30px 10px;
}


/* HeaderBookmarks Styles */

.header {
    margin: 50px 0;
}

.header button {
    padding: 0px 20px;
    margin: -10px, 0;
}

@media (min-width: 1240px) {
    .nav.nav.nav-pills.nav-fill {
        max-width: 1220px;
    }
}

@media (min-width: 992x) {
    nav.nav.nav-pills.nav-fill {
        max-width: 960px;
    }
}

@media (min-width: 768px) {
    nav.nav.nav-pills.nav-fill {
        max-width: 720px;
    }
}

@media (min-width: 576x) {
    nav.nav.nav-pills.nav-fill {
        max-width: 540px;
    }
}

nav.nav.nav-pills.nav-fill {
    width: 100%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin-right: auto;
    margin-left: auto;
}

h1.nav-link.header-text {
    color: black;
    text-align: left;
}

h1.nav-link.headear-text {
    background: none repeat scroll 0 0 blue;
    bottom: -10px;
    content: "";
    display: block;
    height: 10px;
    position: relative;
    width: 100px;
}


/* Header Styles */

a.nav-link {
    margin: 0 10px 0 0;
}

.welcome-user {
    display: block;
}

.welcome-user p {
    margin: 0;
}

.nav-item.dropdown a {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.woman-avatar {
    border-radius: 50%;
}


/* FormUrl styles */

.row.form {
    justify-content: center;
}

.col-md-3.form {
    width: 100%;
    margin: 15px 10px;
}

.col-md-3.form input {
    border: solid black;
}

.btn.btn-primary.form-button {
    width: 96%;
}